<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="/#">Home</a></li>
			<li><a href="/{{name}}">{{name}}</a></li>
			<li><a href="/{{name}}/{{cellid}}">Cell {{cellid}}</a></li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>Cell {{cellid}}, expt{{name}}</h3>
		<hr/>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p>Correlation coefficient (held out data)</p>
			<div id="cc"></div>
		</div>

		<div class="col-md-4">
			<p>Neg. log-likelihood (held out data, lower is better)</p>
			<div id="nll"></div>
		</div>

		<div class="col-md-4">
			<p>Log-likelihood difference from mean rate (held out data, higher is better)</p>
			<div id="lld"></div>
		</div>
	</div>
</div>

<script src="/js/client.js"></script>
